name: CI Pipeline

on: [push]

jobs:
  build-test-scan-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Setup Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt

      # 4️⃣ Run tests
      - name: Run tests
        run: python -m pytest

      # 5️⃣ Build Docker image
      - name: Build Docker image
        run: docker build -t myapp .

      # 6️⃣ Scan Docker image with Trivy
      - name: Scan sécurité Docker
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: myapp
          severity: CRITICAL,HIGH
